.l-navigation {
  width: 70%;
  margin: 0 auto;

  & > ul {
    list-style: none;
    width: 100%;
    display: table;
    border-bottom: 1px solid #ddd;

    & > li {
      display: table-cell;
      padding: 0.5em;
      width: 33%;
      text-align: center;
    }
  }
}
